In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine, text
from scipy.stats import linregress

In [ ]:
database_name = 'drugs'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

# 1. Deaths over time.

# a. How has total overdose deaths changed over time?

In [ ]:
overdose_query_1a = """ SELECT 
                            year, 
                            SUM(overdose_deaths) AS total_overdose_deaths 
                        FROM overdose_deaths 
                        GROUP BY year 
                        ORDER BY year; 
                    """

In [ ]:
total_overdose_deaths01 = pd.read_sql(overdose_query_1a, engine)
total_overdose_deaths01.head(5)

In [ ]:
plt.figure(figsize=(10, 6))
sns.lineplot(data=total_overdose_deaths01, x='year', y='total_overdose_deaths', marker='o') 
plt.title('Total Overdose Deaths Over Time') 
plt.xlabel('Year') 
plt.ylabel('Total Overdose Deaths') 
plt.grid(True) 
plt.show()

# b. How have overdose deaths changed over time for Davidson and Shelby counties?

In [ ]:
overdose_query_1b = """ SELECT 
                            year,
                            SUM(CASE WHEN fips_county.county = 'DAVIDSON' THEN overdose_deaths ELSE 0 END) AS davidson_county,
                        	SUM(CASE WHEN fips_county.county = 'SHELBY' THEN overdose_deaths ELSE 0 END) AS shelby_county
                        	FROM overdose_deaths
                        INNER JOIN fips_county ON overdose_deaths.fipscounty = CAST(fips_county.fipscounty AS INTEGER)
                        GROUP BY year
                        ORDER BY year;
                    """

In [ ]:
total_overdose_deaths02 = pd.read_sql(overdose_query_1b, engine)
total_overdose_deaths02.head(5)

In [ ]:
plt.figure(figsize=(10, 6))
sns.lineplot(total_overdose_deaths02, x='year', y='davidson_county', marker='o', label='Davidson County')
sns.lineplot(total_overdose_deaths02, x='year', y='shelby_county', marker='o', label='Shelby County')
plt.title('Total Overdose Deaths Over Time for Davidson and Shelby Counties')
plt.xlabel('Year')
plt.ylabel('Total Overdose Deaths')
plt.legend(title='County')
plt.grid(True)
plt.show()

# c. Are there any counties in which overdose deaths are trending downward?

In [ ]:
overdose_query_1c = """ SELECT 
                            fips_county.county, 
                            year, 
                        SUM(overdose_deaths) AS total_deaths 
                        FROM overdose_deaths 
                        INNER JOIN fips_county ON overdose_deaths.fipscounty = CAST(fips_county.fipscounty AS INTEGER) 
                        GROUP BY fips_county.county, year 
                        ORDER BY fips_county.county, year; 
                    """

In [ ]:
total_overdose_deaths03 = pd.read_sql(overdose_query_1c, engine)
total_overdose_deaths03.head(8)

In [ ]:
# creating a function to calculate the trend for each county using linear regression

def calculate_trend(total_overdose_deaths03, county_name):
    county_data = total_overdose_deaths03[total_overdose_deaths03['county'] == county_name]
    regression = linregress(county_data['year'], county_data['total_deaths'])
    return regression.slope

trends = total_overdose_deaths03.groupby('county').apply(lambda x: calculate_trend(x, x.name))


downward_trending_counties = trends[trends < 0].index.tolist()

In [ ]:
print(downward_trending_counties)

# top 10

In [ ]:
# filter and select top 10
top_10_downward_trending_counties = trends[trends < 0].nsmallest(10).index.tolist()

top_10_downward_trending_counties

In [ ]:
# Plot the data
plt.figure(figsize=(12, 8))

for county in top_10_downward_trending_counties:
    county_data = total_overdose_deaths03[total_overdose_deaths03['county'] == county]
    plt.plot(county_data['year'], county_data['total_deaths'], marker='o', label=county)

plt.title('Top 10 Counties with Downward Trends in Overdose Deaths')
plt.xlabel('Year')
plt.ylabel('Total Overdose Deaths')
plt.legend(title='County')
plt.grid(True)
plt.show()

# 2. Spending on opioids

In [ ]:
# work in progress

#   a. What is the correlation between spending on opioids and overdose deaths?

In [ ]:
#  1. Collect data on opioid spending by state or county for the relevant years

#  2. Collect data on overdose deaths by state or county for the same years

In [ ]:
claims_cost_query = """
                        SELECT 
                            drug.drug_name,
                            SUM(prescription.total_claim_count) AS total_claims,
                            SUM(prescription.total_drug_cost::money) AS total_cost
                        FROM prescription
                        INNER JOIN drug ON prescription.drug_name = drug.drug_name
                        WHERE opioid_drug_flag = 'Y'
                        GROUP BY drug.drug_name
                        ORDER BY total_cost DESC;
                    """

overdose_deaths_query = """
                            SELECT 
                                year,
                                SUM(overdose_deaths) AS total_deaths
                            FROM overdose_deaths
                            GROUP BY year
                            ORDER BY year;
                        """

claims_cost_df = pd.read_sql(claims_cost_query, engine)
overdose_deaths_df = pd.read_sql(overdose_deaths_query, engine)

print(claims_cost_df.head())
print(overdose_deaths_df.head())

In [ ]:
# removing the money convertion on total_drug_cost in the query to avoid error

claims_cost_query = """
                        SELECT 
                            drug.drug_name,
                            SUM(prescription.total_claim_count) AS total_claims,
                            SUM(prescription.total_drug_cost) AS total_cost
                        FROM prescription
                        INNER JOIN drug ON prescription.drug_name = drug.drug_name
                        WHERE opioid_drug_flag = 'Y'
                        GROUP BY drug.drug_name
                        ORDER BY total_cost DESC;
                    """

overdose_deaths_query = """
                            SELECT 
                                year,
                                SUM(overdose_deaths) AS total_deaths
                            FROM overdose_deaths
                            GROUP BY year
                            ORDER BY year;
                        """

claims_cost_df = pd.read_sql(claims_cost_query, engine)
overdose_deaths_df = pd.read_sql(overdose_deaths_query, engine)

In [ ]:
# calculating the average yearly costs based on total_costs

In [ ]:
total_years = len(overdose_deaths_df['year'].unique())

total_cost = claims_cost_df['total_cost'].iloc[0]
average_yearly_cost = total_cost / total_years

yearly_costs = pd.DataFrame({
    'year': overdose_deaths_df['year'],
    'yearly_cost': average_yearly_cost})

claims_cost_df['total_cost'] = pd.to_numeric(claims_cost_df['total_cost'], errors='coerce')

print(yearly_costs.head())

In [ ]:
claims_cost_df.isna().sum()

In [ ]:
# merge dataFrames and calculate the correlation

In [ ]:
overdose_deaths_df = pd.read_sql(overdose_deaths_query, engine)
claims_cost_df = pd.read_sql(claims_cost_query, engine)


claims_cost_df['total_cost'] = pd.to_numeric(claims_cost_df['total_cost'], errors='coerce')


total_years = len(overdose_deaths_df['year'].unique())
total_cost = claims_cost_df['total_cost'].iloc[0]


average_yearly_cost = total_cost / total_years


yearly_costs = pd.DataFrame({
    'year': overdose_deaths_df['year'],
    'yearly_cost': average_yearly_cost})


merged_df = pd.merge(overdose_deaths_df, yearly_costs, on='year')


correlation = merged_df['total_deaths'].corr(merged_df['yearly_cost'])


correlation

In [ ]:
plt.figure(figsize=(10, 6))
sns.scatterplot(data=merged_df, x='yearly_cost', y='total_deaths')
plt.title('Correlation Between Opioid Spending and Overdose Deaths')
plt.xlabel('Total Opioid Spending')
plt.ylabel('Total Overdose Deaths')
plt.grid(True)
plt.show()

# 4. Unemployment

# a. Is there a correlation between unemployment rate and overdose deaths?

In [ ]:
unemployment_data = pd.read_csv(r"C:\Users\datan\OneDrive\Desktop\NSS\DDA14\Python\data\tn_unemployment_pandas_edit.csv")

In [ ]:
unemployment_data

In [ ]:
unemployment_data.info()

In [ ]:
overdose_data = """ SELECT *
                    FROM overdose_deaths; 
                """

In [ ]:
od_data = pd.read_sql(overdose_data, engine)
od_data.head()

In [ ]:
od_data.info()

In [ ]:
concat_data = pd.concat([od_data, unemployment_data])

In [ ]:
concat_data

In [ ]:
concat_data.info()

In [ ]:
concat_data.isna().sum()

In [ ]:
overdose_data = pd.read_sql('SELECT * FROM overdose_deaths', engine)

# agregating overdose deaths by county
overdose_summary = overdose_data.groupby('fipscounty').agg(total_deaths=('overdose_deaths', 'sum')).reset_index()
print(overdose_summary.describe())

In [ ]:
unemployment_data = pd.read_csv(r"C:\Users\datan\OneDrive\Desktop\NSS\DDA14\Python\data\tn_unemployment_pandas_edit.csv")

# aggregating unemployment data by county
unemployment_summary = unemployment_data.groupby('Name').agg(avg_unemployment_rate=('unemployment_rate', 'mean')).reset_index()
print(unemployment_summary.describe())

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(overdose_summary['total_deaths'], kde=True)
plt.title('Distribution of Total Overdose Deaths by County')
plt.xlabel('Total Overdose Deaths')
plt.ylabel('Frequency')
plt.grid(True)
plt.show()




plt.figure(figsize=(10, 6))
sns.histplot(unemployment_summary['avg_unemployment_rate'], kde=True)
plt.title('Distribution of Average Unemployment Rate by County')
plt.xlabel('Average Unemployment Rate')
plt.ylabel('Frequency')
plt.grid(True)
plt.show()

In [ ]:
# ranking counties by total overdose deaths
overdose_summary['rank'] = overdose_summary['total_deaths'].rank(ascending=False)
print(overdose_summary.sort_values(by='rank').head(10))

In [ ]:
# ranking counties by average unemployment rate
unemployment_summary['rank'] = unemployment_summary['avg_unemployment_rate'].rank(ascending=False)
print(unemployment_summary.sort_values(by='rank').head(10))

In [ ]:
# identifying the high-risk counties in both datasets
high_risk_overdose = overdose_summary.sort_values(by='rank').head(10)
high_risk_unemployment = unemployment_summary.sort_values(by='rank').head(10)

# comparing high-risk counties
print("High-Risk Counties by Overdose Deaths:")
print(high_risk_overdose[['fipscounty', 'total_deaths', 'rank']])
print("\nHigh-Risk Counties by Unemployment Rate:")
print(high_risk_unemployment[['Name', 'avg_unemployment_rate', 'rank']])

In [ ]:
plt.figure(figsize=(12, 6))
sns.barplot(y='fipscounty', x='total_deaths', data=high_risk_overdose, orient='h')
plt.title('Top 10 Counties by Overdose Deaths')
plt.xlabel('Total Overdose Deaths')
plt.ylabel('County')
plt.grid(True)
plt.show()

In [ ]:
plt.figure(figsize=(12, 6))
sns.barplot(y='Name', x='avg_unemployment_rate', data=high_risk_unemployment, orient='h')
plt.title('Top 10 Counties by Unemployment Rate')
plt.xlabel('Average Unemployment Rate')
plt.ylabel('County')
plt.grid(True)
plt.show()